# Importing Libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing The DataSet

In [9]:
# Creating a string of the path
# Define the path variable
path = r'/Users/douniaelyoussoufi/Achievement 6'
# Load the dataset file directly using os.path.join
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'climate_change_impact_on_agriculture_2024.csv'))

# Display the first five rows of the Orders Data

In [12]:
df.head()

,Year,Country,Region,Crop_Type,Average_Temperature_C,Total_Precipitation_mm,CO2_Emissions_MT,Crop_Yield_MT_per_HA,Extreme_Weather_Events,Irrigation_Access_%,Pesticide_Use_KG_per_HA,Fertilizer_Use_KG_per_HA,Soil_Health_Index,Adaptation_Strategies,Economic_Impact_Million_USD
0,2001,India,West Bengal,Corn,1.55,447.06,15.22,1.737,8,14.54,10.08,14.78,83.25,Water Management,808.13
1,2024,China,North,Corn,3.23,2913.57,29.82,1.737,8,11.05,33.06,23.25,54.02,Crop Rotation,616.22
2,2001,France,Ile-de-France,Wheat,21.11,1301.74,25.75,1.719,5,84.42,27.41,65.53,67.78,Water Management,796.96
3,2001,Canada,Prairies,Coffee,27.85,1154.36,13.91,3.890,5,94.06,14.38,87.58,91.39,No Adaptation,790.32
4,1998,India,Tamil Nadu,Sugarcane,2.19,1627.48,11.81,1.080,9,95.75,44.35,88.08,49.61,Crop Rotation,401.72

# Standardise column names: 
- Convert all column names to lowercase.
- Remove spaces and replace with underscores (_).
This step improves readability, especially when working with data programmatically.

In [15]:
# Convert columns to lowercase and remove spaces
df.columns = df.columns.str.lower().str.replace(' ', '_')
# Preview the updated column names
df.columns

Index(['year', 'country', 'region', 'crop_type', 'average_temperature_c',
       'total_precipitation_mm', 'co2_emissions_mt', 'crop_yield_mt_per_ha',
       'extreme_weather_events', 'irrigation_access_%',
       'pesticide_use_kg_per_ha', 'fertilizer_use_kg_per_ha',
       'soil_health_index', 'adaptation_strategies',
       'economic_impact_million_usd'],
      dtype='object')

# Check the data types

In [20]:
df.dtypes

year                             int64
country                         object
region                          object
crop_type                       object
average_temperature_c          float64
total_precipitation_mm         float64
co2_emissions_mt               float64
crop_yield_mt_per_ha           float64
extreme_weather_events           int64
irrigation_access_%            float64
pesticide_use_kg_per_ha        float64
fertilizer_use_kg_per_ha       float64
soil_health_index              float64
adaptation_strategies           object
economic_impact_million_usd    float64
dtype: object

Convert categorical columns to 'category' type to optimise memory usage and improve performance
'category' type is more efficient than 'object' for columns with a limited number of unique values (e.g., country, region, etc.)

In [24]:
df['country'] = df['country'].astype('category')  # 'country' column is categorical, so converting to 'category' type.
df['region'] = df['region'].astype('category')    # 'region' column is categorical, so converting to 'category' type.
df['crop_type'] = df['crop_type'].astype('category')  # 'crop_type' column is categorical, so converting to 'category' type.
df['adaptation_strategies'] = df['adaptation_strategies'].astype('category')  # 'adaptation_strategies' column is categorical, so converting to 'category' type.

# Missing Values

In [28]:
# Checking for missing values in the dataset
missing_values = df.isnull().sum()
missing_values

year                           0
country                        0
region                         0
crop_type                      0
average_temperature_c          0
total_precipitation_mm         0
co2_emissions_mt               0
crop_yield_mt_per_ha           0
extreme_weather_events         0
irrigation_access_%            0
pesticide_use_kg_per_ha        0
fertilizer_use_kg_per_ha       0
soil_health_index              0
adaptation_strategies          0
economic_impact_million_usd    0
dtype: int64

# Duplicates

In [31]:
# Checking for duplicates
duplicates = df.duplicated().sum()
duplicates

0

# Data Wrangling

In [37]:
# Checking if the 'year' column contains valid values
year_values = df['year'].unique()
year_values

array([2001, 2024, 1998, 2019, 1997, 2021, 2012, 2018, 2006, 1993, 2003,
       1999, 1990, 2017, 2015, 2000, 2016, 1996, 2010, 2002, 2011, 1995,
       2004, 2008, 2005, 2020, 1994, 1991, 2022, 2007, 1992, 2013, 2023,
       2014, 2009])

In [35]:
# Check the frequency of each year in the dataset
year_counts = df['year'].value_counts()
year_counts

year
1999    335
2019    317
1991    314
2012    313
2004    307
2013    305
1994    305
2001    300
1996    295
2023    294
2015    294
2016    293
2008    293
2021    292
2002    289
2022    288
1997    287
2003    285
2009    285
2000    284
2024    281
2010    281
2014    281
2020    278
1995    277
2017    275
2005    275
1992    274
2011    273
2018    272
2007    262
1993    257
1990    250
2006    250
1998    239
Name: count, dtype: int64

In [41]:
# Check the value counts of the 'country' column
df['country'].value_counts()

country
Australia    1032
USA          1032
China        1031
Nigeria      1029
India        1025
Argentina     984
Canada        984
France        978
Russia        961
Brazil        944
Name: count, dtype: int64

In [43]:
# Check the value counts of the 'region' column
df['region'].value_counts()

region
South                         754
Northeast                     752
North                         524
Central                       466
Punjab                        288
Victoria                      283
New South Wales               276
East                          273
South West                    270
Ontario                       269
West Bengal                   267
North West                    264
Volga                         261
South East                    260
West                          257
Grand Est                     254
Midwest                       253
Queensland                    253
Nouvelle-Aquitaine            252
Tamil Nadu                    249
Patagonia                     249
Northwest                     247
Siberian                      246
Prairies                      243
British Columbia              242
Provence-Alpes-Cote d’Azur    236
Ile-de-France                 236
North Central                 235
Quebec                        230
Northwestern                  227
Pampas                        224
Maharashtra                   221
Western Australia             220
Southeast                     219
Name: count, dtype: int64

In [55]:
# Group by country and get unique regions with observed=True to avoid FutureWarning
country_region_mapping = df.groupby('country', observed=True)['region'].unique()
# Print the mapping in a readable format
for country, regions in country_region_mapping.items():
    print(f"{country}: {', '.join(regions)}")

Argentina: Northeast, Northwest, Pampas, Patagonia
Australia: New South Wales, Victoria, Western Australia, Queensland
Brazil: North, Northeast, Southeast, South
Canada: Prairies, Quebec, Ontario, British Columbia
China: North, East, South, Central
France: Ile-de-France, Grand Est, Nouvelle-Aquitaine, Provence-Alpes-Cote d’Azur
India: West Bengal, Tamil Nadu, Punjab, Maharashtra
Nigeria: North West, South East, North Central, South West
Russia: Northwestern, Siberian, Volga, Central
USA: Midwest, Northeast, South, West

In [57]:
# Checking the value counts of the crop_type column
df['crop_type'].value_counts()

crop_type
Wheat         1047
Cotton        1044
Vegetables    1036
Corn          1022
Rice          1022
Sugarcane      995
Fruits         979
Soybeans       958
Barley         952
Coffee         945
Name: count, dtype: int64

In [59]:
# Check the value counts of the 'adaptation_strategies' column
df['adaptation_strategies'].value_counts()

adaptation_strategies
Water Management           2049
No Adaptation              2024
Drought-resistant Crops    1995
Organic Farming            1975
Crop Rotation              1957
Name: count, dtype: int64

In [61]:
# Display descriptive statistics for all numerical columns
df.describe()

,year,average_temperature_c,total_precipitation_mm,co2_emissions_mt,crop_yield_mt_per_ha,extreme_weather_events,irrigation_access_%,pesticide_use_kg_per_ha,fertilizer_use_kg_per_ha,soil_health_index,economic_impact_million_usd
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2007.088700,15.241299,1611.663834,15.246608,2.240017,4.980900,55.248332,24.955735,49.973708,64.901278,674.269658
std,10.084245,11.466955,805.016815,8.589423,0.998342,3.165808,25.988305,14.490962,28.711027,20.195882,414.591431
min,1990.000000,-4.990000,200.150000,0.500000,0.450000,0.000000,10.010000,0.000000,0.010000,30.000000,47.840000
25%,1999.000000,5.430000,925.697500,7.760000,1.449000,2.000000,32.677500,12.527500,25.390000,47.235000,350.545000
50%,2007.000000,15.175000,1611.160000,15.200000,2.170000,5.000000,55.175000,24.930000,49.635000,64.650000,583.920000
75%,2016.000000,25.340000,2306.997500,22.820000,2.930000,8.000000,77.582500,37.470000,74.825000,82.472500,917.505000
max,2024.000000,35.000000,2999.670000,30.000000,5.000000,10.000000,99.990000,49.990000,99.990000,100.000000,2346.470000

# Export the dataset

In [70]:
# Export the dataset as “cleaned.csv” 
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'cleaned.csv'))